body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
}

.logo {
  background-image: url(../img/DD_logo.svg);
  background-color: white;
  /*background-repeat: no-repeat;*/
  width: 370.000000pt;
  height: 469.000000pt;
}

.text {
  background-image: url(../img/DD_Text.svg);
  background-size: contain;
  -webkit-filter: invert(1);
  filter: invert(1);
  background-repeat: no-repeat;
  width: 370.000000pt;
  height: 200px;
}
