body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.container {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
}

.logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300.000000pt;
  height: 600.000000pt;
}
